main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-family: Arial, sans-serif;
    animation: main-move 2s infinite;
}

@keyframes main-move {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(-10px); }
}

input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-confirm button {
    background-color: #28a745;
    animation: button-pulse-confirm 2s infinite;
}

.button-confirm button:hover {
    background-color: #218838;
}
@keyframes button-pulse-confirm {
    0% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7); }
    70% { box-shadow: 0 0 0 10px rgba(40, 167, 69, 0); }
    100% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
}

.button-cancel button{
    background-color: #dc3545;
    animation: button-pulse-cancel 2s infinite;
}
.button-cancel button:hover{
    background-color: #b82c39;
}

@keyframes button-pulse-cancel {
    0% { box-shadow: 0 0 0 0 rgb(184, 44, 57); }
    70% { box-shadow: 0 0 0 10px rgba(40, 167, 69, 0); }
    100% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
}