body{
    background: #fafafa;
    backdrop-filter: blur(50px);
    animation: secret-animation 1s;
}
@keyframes secret-animation {
    0% { background: #f18a8a; }
    100% { background: #d64343; backdrop-filter: blur(50px); }
}